
@model IEnumerable<WebApplication15.Models.Item>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase">List of items</h4>

<p>
    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.ProfilePicture"
                         class="rounded"
                         height="120" width="120"
                         asp-append-version="true" />
                    @item.Name
                </td>
               
            </tr>

        }
    </tbody>
</table>
